.landing-container {
    position: absolute;
    top: 75px;
    height: calc(200% - 130px);
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.landing {
    display: flex;
    width: 100%;
    height: calc(50% - 75px);
}

.intro {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto auto;
}

.intro h1 {
    font-family: 'Gill Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
}

.cover-img {
    width: 50%;
    height: 100%;
}